<h1>店舗一覧</h1>

<% unless contents.nil? %>
  <table class="shop_list">
    <thead>
      <tr>
        <th></th>
        <th>店舗名</th>
        <th>住所</th>
        <ht></th>
      </tr>
    </thead>
    <% contents.each do |shop| %>
      <tbody>
        <tr>
          <td>
            <%= link_to shop_path(shop[:id]) do %>
              <img src="<%= shop[:logo_image] %>">
            <% end %>
          </td>
          <td>
            <%= link_to shop_path(shop[:id]) do %>
              <%= shop[:name] %>
            <% end %>
          </td>
          <td>
            <%= shop[:address] %>
          </td>
          <td>
            <% if user_signed_in? %>
              <% if current_user.favorited_by?(current_user, shop[:id]) %>
                <p>
                  <%= link_to shop_favorites_path(shop[:id]), method: :delete do %>
                    ★
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to shop_favorites_path(shop[:id]), method: :post do %>
                    ☆
                  <% end %>
                </p>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= paginate contents %>
<% else %>
  <%= info %> 
<% end %>